<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086255448541-qoueqnon429juvd0n9ga7t69d9e7398s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086255448541-qoueqnon429juvd0n9ga7t69d9e7398s</string>
	<key>API_KEY</key>
	<string>AIzaSyBsF8YixXP3UnlLeponbijqbNgPsiXriRY</string>
	<key>GCM_SENDER_ID</key>
	<string>1086255448541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LIBA.lernerPlantilla</string>
	<key>PROJECT_ID</key>
	<string>materias-app-2ab7f</string>
	<key>STORAGE_BUCKET</key>
	<string>materias-app-2ab7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086255448541:ios:49fe75f9751662ce84f634</string>
</dict>
</plist>